@font-face { font-family: roboto-mono;  src: url('Roboto_Mono/static/RobotoMono-Regular.ttf'); } 
ul,li{
    list-style: none;
margin: 0 0;
padding: 0;
}
body {
    margin: 0;
    
    font-family: 'roboto-mono';
    color: black;
    background: fixed url(../images/Web\ 1920\ –\ 1.jpg);
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 40px;
    margin-bottom: 1em;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.logo{
    font-size: 22px;
    font-family: 'roboto-mono';
    letter-spacing: 0.5em;
}
.logo >span{
    color: red;
}

.header-nav {
    display: flex;
}

.header-item {
    font-size: 22px;
}
.header-items{
    position: relative;
}
.header-item:not(:last-child) {
    margin:0 60px;
}

.header-item-1-dropdown{
    visibility: hidden;

    position: absolute;
    top: 160%;
    left: 0;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top: none;

    z-index: 2;
}
.header-item-1-dropdown::before{
  content: "";
  position: absolute;
  top:-30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  backdrop-filter: blur(5px);
  border: 15px solid rgba(0, 0, 0, 0.8);
  border-color: transparent transparent rgba(255, 255, 255, 0.3) transparent
}


.dropdown:hover ~ .header-item-1-dropdown,
.dropdown ~ .header-item-1-dropdown:hover{
    visibility: visible;
}

.header-item-1-dropdown> ul{
    width: 10em;
    text-align: center;
    font-size: 1.15em;

}
.header-item-1-dropdown> ul>li{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    cursor: pointer;
}
.header-item-1-dropdown> ul>li:hover{
    border: 1px red solid;
    background: rgba(255, 255, 255, 0.6)
}


.slider{
    width: 100%;
    height: 350px;
    overflow: hidden;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.slider-button {
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 1em 2em;

    transition: all .2s;


    font-size: 20px;
    cursor: pointer;
    font-family: inherit;
    border:black 1px solid;
    color: black;
    animation: spin 1s cubic-bezier(0,.78,1,.39);
    transform-origin: top left;


}

.banner{
    padding: 2em 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.glass{
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.block{
    width: 25em;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.banner-block{
    width: 20em;
    height: 22em;
}
.banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-btn{
    
    background: black;
    border:black 1px solid;
    color: white;
    width: 10em;
    box-sizing: border-box;
    padding: 0.5em 1em;
    font-size: medium;
    cursor: pointer;
}
.banner-btn:hover{
background: transparent;
    border:black 1px solid;
    color: black;
}
.slider-button:hover{
    background: black;
    border:black 1px solid;
    color: white;
}

.slider-button:active {
    box-shadow: 0px 5px 10px #423b33;
    transform: translate(-50%, -45%);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.1);

    color: white;
}
footer> p{
    font-size: 10px;
}

.icons{
    padding: 3em 0;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    
}

.icon{
    padding: 1em;
    display: inline-block;
    width: 1.5em;
    color: white;
    filter:invert(1);
}

.icon:hover{
    filter: invert(0) hue-rotate(160deg);
}

.gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
    grid-template-areas: "img2 img2 img3 img3 img3 img5 img6 img6"
                        "img2 img2 img3 img3 img3 img5 img6 img6"
                        "img7 img7 img3 img3 img3 img10 img10 img11"
                        "img7 img7 img8 img8 img9 img10 img10 img11"
                        "img7 img7 img8 img8 img15 img15 img15 img11"
                        "img12 img13 img13 img14 img15 img15 img15 img16"
                        "img12 img13 img13 img14 img15 img15 img15 img16";
    width: 100vw;
    box-sizing: border-box;
    padding: 2em 7%;
}

.gallery-img-block{
    width: 100%;
    height: auto;
}

.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-img:hover{
    cursor: pointer;
    filter: brightness(120%);
    transform: scale(1.1);
}
.gallery-img-block-2{
    grid-area: img2;
}
.gallery-img-block-3{
    grid-area: img3;
}
.gallery-img-block-5{
    grid-area: img5;
}
.gallery-img-block-6{
    grid-area: img6;
}
.gallery-img-block-7{
    grid-area: img7;
}
.gallery-img-block-8{
    grid-area: img8;
}
.gallery-img-block-9{
    grid-area: img9;
}
.gallery-img-block-10{
    grid-area: img10;
}
.gallery-img-block-11{
    grid-area: img11;
}
.gallery-img-block-12{
    grid-area: img12;
}
.gallery-img-block-13{
    grid-area: img13;
}
.gallery-img-block-14{
    grid-area: img14;
}
.gallery-img-block-15{
    grid-area: img15;
}
.gallery-img-block-16{
    grid-area: img16;
}
@keyframes spin {
    0% { transform: rotate(0deg) translate(-50%, -50%);
     }
    100% { transform: rotate(360deg) translate(-50%, -50%); 
    }
}
@keyframes zoomIn {
    0% { 
        opacity: 0;
        transform: scale(0);
    }
    100% { 
        opacity: 1;
        transform: scale(1);
    }
}